body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.foto {
    width: 100%;
    max-width: 900px; /* largura máxima da galeria */
    margin: auto;
    text-align: center;
}

.foto img {
    width: 100%;
    height: auto; /* mantém proporção */
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
@page {
    size: A4;
    margin: 1cm;
}

.foto img {
    max-width: 100%;
    height: auto;
    page-break-inside: avoid; /* evita que uma imagem quebre no meio da página */
}
