/* Resetando configurações padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Definindo o estilo geral */
body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #333;
    margin: 0;
}

header {
    background-color: #e40000;  /* Vermelho */
    padding: 15px 0;
    text-align: center;
}

header .logo h1 {
    font-size: 2rem;
    color: #fff;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 10px 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: #000;
}

/* Seções de categorias */
.categoria {
    padding: 40px;
    text-align: center;
}

.categoria h2 {
    font-size: 2rem;
    color: #e40000;
    margin-bottom: 20px;
}

.imoveis {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.imovel {
    background-color: #f4f4f4;
    width: 250px;
    padding: 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.imovel:hover {
    transform: scale(1.05);
}

.imovel img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 15px;
}

.imovel h3 {
    font-size: 1.2rem;
    color: #333;
}

.imovel p {
    font-size: 1rem;
    color: #e40000;
}

/* Rodapé */
footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}
