body {
  margin: 0;
  background: #111;
  color: #fff;
  font-family: "Arial", sans-serif;
  text-align: center;
}

h1 {
  margin-top: 20px;
  color: #f00;
}

canvas {
  display: block;
  margin: 20px auto;
  background: url("arena.jpg") no-repeat center center;
  background-size: cover;
  border: 3px solid #800000;
  border-radius: 12px;
}
